<div class="row" *ngIf="!photo; else main_content">
  <ngx-spinner></ngx-spinner>
</div>

<ng-template #main_content>
  <form class="card-body" (submit)="updatePhoto(title, description)">
    <div class="row p-4">
      <div class="col-md-5">
        <div class="card p-3">
          <img [src]="'http://localhost:4000/' + photo.imagePath" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
        <div class="card p-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Titulo" [value]="photo.title" #title>
          </div>
          <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Descripcion" [value]="photo.description"
              #description></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 center buttons-container">
      <button class="btn btn-primary mr-4 mb-2">Actualizar</button>
      <button id="cancelar" class="btn btn-secondary mr-4 mb-2" routerLink="/fotos">
        Cancelar
      </button>
      <button class="btn btn-danger mr-4 mb-2" (click)="deletePhoto(photo._id)">
        Eliminar Foto
      </button>
    </div>
  </form>
</ng-template>