<ngx-spinner></ngx-spinner>

<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">
      Subir Foto
    </div>
    <div class="card-body">
      <form (submit)="uploadPhoto(title, description)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Titulo" required #title>
        </div>

        <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="Descripcion" required #description></textarea>
        </div>

        <div class="seleccion-imagen">Pulse sobre la imagen y seleccione foto</div>

        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
        <img [src]="photoSelected || 'assets/no_photo.png'" class="img-fluid pointer" alt="No Imagen"
          (click)="photoInput.click()" [ngStyle]="{'margin': photoSelected ? '40px 0px 10px 0px' : none}">

        <button class="btn btn-primary btn-block">Guardar</button>

      </form>
    </div>
  </div>
</div>